<!DOCTYPE HTML>
<html lang = uk> 
<head> 
<title>Рослини</title>
<center>Сон-зілля </center>
<link rel="stylesheet" href="style.css">
<style>
HTML { color: pink; } 
BODY { color: green; } 
P { color: purple; } 
</style>
</head>
<body> 
<p style="color: blue;"> <span style="color: olive;">Квітка</span> 
</p> 
</body>
</style> 
</head> 
<body>   
</body>
</html>
